<div class="jumbotron jumbotron-fluid animated fadeIn fast">
  <div class="container">
    <h2 class="mt-4">Minions <small>awesome</small></h2>
    <hr />
    <div class="container">
      <div class="card-columns mb-5">
        <div class="card" *ngFor="let minion of minions">
          <img [src]="minion.img" class="card-img-top" [alt]="minion.name" />
          <div class="card-body">
            <h5 class="card-title">{{ minion.name }}</h5>
            <p class="card-text">{{ minion.bio }}</p>
            <p class="card-text">
              <small class="text-muted"> {{ minion.birth }} </small>
            </p>
            <button type="button" class="btn btn-outline-warning btn-block">
              Ver más info
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
